@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

@font-face {
  font-family: 'Kelt';
  src: url('/assets/fonts/KeltNormal.eot');
  src: url('/assets/fonts/KeltNormal.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/KeltNormal.woff2') format('woff2'),
  url('/assets/fonts/KeltNormal.woff') format('woff'),
  url('/assets/fonts/KeltNormal.svg#KeltNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kelt';
  src: url('/assets/fonts/KeltBold.eot');
  src: url('/assets/fonts/KeltBold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/KeltBold.woff2') format('woff2'),
  url('/assets/fonts/KeltBold.woff') format('woff'),
  url('/assets/fonts/KeltBold.svg#KeltBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kelt';
  src: url('/assets/fonts/KeltItalic.eot');
  src: url('/assets/fonts/KeltItalic.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/KeltItalic.woff2') format('woff2'),
  url('/assets/fonts/KeltItalic.woff') format('woff'),
  url('/assets/fonts/KeltItalic.svg#KeltItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Hobbiton Brushhand';
  src: url('/assets/fonts/Hobbitonbrush.eot');
  src: url('/assets/fonts/Hobbitonbrush.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Hobbitonbrush.woff2') format('woff2'),
  url('/assets/fonts/Hobbitonbrush.woff') format('woff'),
  url('/assets/fonts/Hobbitonbrush.svg#Hobbitonbrush') format('svg');
  font-weight: normal;
  font-style: normal;
}
